@font-face {
  font-family: "Predendard";
  src: url("/fonts/Pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00-D7A3,U+0030-0039;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0020-007E;
}


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --color-set01:  #D7C6B8;
  --color-set02:  #f8f4ea;
  --color-set03:  #734C33;
  --color-set04:  #603E29;
  --color-set05:  #3E504A;
  --color-set06:  #AB6F4A;
  --color-set07:  #787C86;

}

@media (prefers-color-scheme: dark) {
  :root  {
    color-scheme: light only;
  }


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  color-scheme: light only;
  background-color: #fefefe;
  /* background-color: var(--color-set02); */
  color:#232323;
}

body {
  font-family: 'Pretendard', 'Roboto' !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul {
  list-style: none;
}

li {
  margin: 0;
}
